.carousel{
    padding: 2rem 5rem;
    width: 100%;
    overflow-x: scroll;
    background-color: #F8F5F5;
    box-shadow: 1px 1px 10px 0px #00000040;
}

.carousel::-webkit-scrollbar{
    display: none;
}

.container{
    min-width: min-content;
    display: flex;
    justify-content: space-evenly;
    gap: 100px;
    padding: 2rem;
}